footer
    .footer
        div &copy; 2019 Marcela Elena Anton
        ul.footer__list
            li
                a.footer__link(href="/priva.footer_linkcy") Privacy
            li
                a.footer__link(href="/policy") Policy

