.menu
    .menu_panel
        h3.menu_title Info
        ul.menu_list
            li
                a(href="/") Home
            li
                a(href="/about.html") About
            li
                a(href="/contact.html") Contact
    .menu_panel
        h3.menu_title Categories
        ul.menu_list
            li
                a(href="/html") HTML5
            li
                a(href="/css") CSS3


